.button1, .button2 {
  width: 160px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  @extend %transition;
  margin-left: 20px;
}

.button1 {
  background-color: $orange;
  color: white;
  
}

.button1:hover {
  background-color: $light-orange;
  @extend %transition;
}

.button2 {
  border: 1px solid black;
  color: black;
  background-color: white;
}

.button2:hover {
  background-color: black;
  color: white;
  @extend %transition;
}

.button3 {
  width: 70px;
  height: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @extend %transition;
  opacity: 0.5;
}

.button3 > span {
  width: 10px;
  height: 10px;
  background-repeat: no-repeat;
  background-position: center;
}

.button3:hover {
  color: $orange;
  @extend %transition;
  opacity: 1;
}
