.button1, .button2 {
  width: 160px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  @extend %transition;
}

.button1 {
  background-color: $orange;
  color: white;
}

.button1:hover {
  background-color: $light-orange;
  @extend %transition;
}

.button2 {
  border: 1px solid black;
  color: black;
  background-color: rgba(0, 0, 0, 0);
}

.button2:hover {
  background-color: black;
  color: white;
  @extend %transition;
}

.button3 {
  width: 70px;
  height: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @extend %transition;
  opacity: 0.5;
}

.button3 > span {
  width: 10px;
  height: 10px;
  background-repeat: no-repeat;
  background-position: center;
}

.button3:hover {
  color: $orange;
  @extend %transition;
  opacity: 1;
}

.button2-reverse {
  background-color: black;
  border: none;
  width: 160px;
  height: 48px;
  color: white;
  @extend %flex-center-center;
  @extend %transition;
}

.button2-reverse:hover {
  @extend %transition;
  background-color: #4C4C4C;
}

.Checkout-form-input > input, .phoneInput {
  border: 1px solid #CFCFCF;
  width: 309px;
  height: 56px;
  border-radius: 8px;
  padding: 18px 24px;
}

.Checkout-form-input > input:focus, .phoneInput:focus {
  border: 1px solid $orange;
  caret-color: $orange;
}
.phoneInput {
  margin-left: 40px;
  padding: 18px;
  width: 269px;
  border-radius: 0px 8px 8px 0px;
}
// react-tel-input
