@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
  font-style: normal;
  letter-spacing: 0px;
  text-align: left;  
}

body {
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
  font-family: 'Manrope';
}

h1, h2, h3, h4, h5, h6, .sub-title {
  text-transform: uppercase;
  font-weight: 700;
}

h1 {
  font-size: 56px;
  line-height: 58px;
  letter-spacing: 2px;
}

h2 {
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.4285714626312256px;
}

h3 {
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 1.1428571939468384px;
}

h4 {
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 2px;
}

h5 {
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 1.7142857313156128px;
}

h6 {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1.2857142686843872px;
}

.overline {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: $orange;
}

.sub-title {
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 0.9285714030265808px;
  color: $orange;
}

.button {
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.button2, .button3 {
  color: black;
}

.button2 {
  color: white;
}

.Nav-link {
  color: white;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 2px;
}

.Menu-category-title {
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 1.0714285373687744px;
  text-transform: uppercase;
}

.Categories-category-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 1.2857142686843872px;
}

.colorOrange {
  color: $orange;
}

.countBoxList {
  font-weight: 700;
}

.Product-main-desc-addCart-count-countFont, .Product-main-desc-addCart-count-quantityFont {
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
}

p.Cart-product-desc-name, p.Checkout-summary-product-desc-name {
  font-weight: 700;
}
p.Cart-product-desc-price, p.Checkout-summary-product-desc-price {
  font-size: 14px;
  opacity: 0.75;
}

.opacity {
  opacity: 0.75;
}

.Cart-product-quantity-count {
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
}

label, .labelFont {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: -0.2142857164144516px;
}

.Checkout-form-input > input, .phoneInput {
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: -0.25px;
}

.Checkout-form-input > input::placeholder, .phoneInput::placeholder {
  opacity: 0.75;
}

.paymentMethodFont {
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: -0.25px;
}

@media screen and (max-width: 1160px) {
  .Categories-category-title {
    font-size: 15px;
  }

  h2.littleH2 {
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 1.29px;
  }

  h2 {
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 1px;
  }

  h3 {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.8571428656578064px;
  }
}
